* {
    margin: 0;
    padding: 0;
    color:white;
}
.flex-container {
    display: flex;
    height: 100px;;
    align-items: center;
    justify-content: flex-end;
    position:relative;
    animation-name: slide;
    animation-delay: .9s;
    animation-duration:.5s;
    animation-fill-mode: forwards;
    opacity: 0;
    img {
        width: 75px;
    }
}
@keyframes slide{
    0%{right:-300px;}
    100%{right:0;opacity:1;}
}
.details {
    padding-left: 15px;

    span{
        display: flex;
        align-items: center;
    }
    .online {
        margin-left: 8px;
        width: 10px;
        height:10px;
        background-color: green;
        border-radius: 10px;
    }
}
.phnNum {
    display: flex;
    margin-top: 5px;
    img {
        margin-right: 8px;
        width: 20px;
    }
}
