* {
    margin: 0;
    padding: 0;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container {
    display: flex;
    height: 25vh;
    align-items: center;
    justify-content: flex-end;

    img {
        width: 100px;
    }
}

.details {
    padding-left: 15px;

    span{
        display: flex;
        align-items: center;
    }
    .online {
        margin-left: 8px;
        width: 10px;
        height:10px;
        background-color: green;
        border-radius: 10px;
    }
}
.phnNum {
    display: flex;
    margin-top: 5px;
    img {
        margin-right: 8px;
        width: 20px;
    }
}
