.container {
    display: inline;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #333;
    padding: 10px 0 10px 0;
    ul {
        display:flex;
        flex-grow: 1;
        justify-content: space-around;
    }
    i {
        font-size: 60px;
        cursor: pointer;
    }
    img {
        width: 60px;
        cursor: pointer;
    }
    .iconView {
        .non-colored {
            display: inline;
        }
        .colored {
            display: none;
        }
    }
    .iconView:hover {
        .non-colored {
            display: none;
        }
        .colored {
            display: inline;
        }
    }
}
@media only screen and (max-width: 1275px) {

}
