.container {
    display: flex;
    justify-content:space-around;
    width: 30%;
    position: fixed;
    left: 0;
    bottom: 10px;
    i {
        font-size: 50px;
    }
    img{
        width:50px;
    }
}
@media only screen and (max-width: 1275px) {
    .container{
        width: 100%;
    }
}