.contact {
    display:flex;
    align-items: center;
    justify-content: center;
    // height:100vh;
    // background-image: url("../../../assets/images/skyline.svg");
    // background-repeat: no-repeat;
    // background-size:100%;
    // background-attachment: fixed;
    // background-position: bottom;
}
