<nav class="flexNav">
    <ul>
        <div class="animation">
        <li><a routerLink="/" routerLinkActive="activatedLink" [routerLinkActiveOptions]="{exact:true}">Projects</a>
        </li></div><div class="animation" style="animation-delay: .1s;">
        <li ><a routerLink="/about" routerLinkActive="activatedLink" [routerLinkActiveOptions]="{exact:true}">About</a>
        </li></div><div class="animation"  style="animation-delay: .2s;">
        <li ><a routerLink="/contact" routerLinkActive="activatedLink" [routerLinkActiveOptions]="{exact:true}">Contact</a>
        </li></div>
    </ul>
    <app-badge class="badge"></app-badge>
</nav>
