<nav class="flexNav">
    <ul>
        <li><a routerLink="/" routerLinkActive="activatedLink" [routerLinkActiveOptions]="{exact:true}">Projects</a>
        </li>
        <li style="animation-delay: .1s;"><a routerLink="/about" routerLinkActive="activatedLink" [routerLinkActiveOptions]="{exact:true}">About</a>
        </li>
        <li  style="animation-delay: .2s;"><a routerLink="/contact" routerLinkActive="activatedLink" [routerLinkActiveOptions]="{exact:true}">Contact</a>
        </li>
    </ul>
    <app-badge class="badge"></app-badge>
</nav>
