<div class="flex-container">
  <div class="bioContainer">
    <img src="../../../assets/images/portrait.jpg">
    <span class="details">
      <p class="name">Brion Lund</p>
      <p>Game Developer</p>
      <p>Reno, NV</p>
    </span>
  </div>
  <div class="message">
    <p>Hi, I'm Brion. If you're reading this,
      that'll probably mean that you're
      interested either in playing my
      games, or in hiring me. Either way,
      Welcome. <br>
      I like to design and create games,
      as is obvious, but more importantly
      I have a multifaceted interest in art
      in general. Everything you're looking
      at is my own creation (except for the
      skyline in the background. That's clip
      art.) Anyways, please enjoy what my webpage
      has to offer, and if you have any questions,
      my contact information is available.

    </p>
  </div>
</div>