.flex-container {
    width: 100%;
    display: flex;
    justify-content: space-around;

}
img {
    width: 200px;
    height: 200px;
    box-shadow: -10px -10px 0 -5px hsl(345, 10%, 8%), -10px -10px 0 0 #707070, 10px 10px 0 -5px hsl(345, 10%, 8%),
        10px 10px 0 0 #707070;
}
.details {

    padding-left: 40px;
    float: right;
    .name {
        font-size: 35px;
        color: #707070;
    }
    p {
        color: #707070;
    }
}

.message {
    font-size: 30px;
    height: 300px;
    width: 700px;
    overflow: auto;

    p {
        color: #707070;
    }
}
@media only screen and (max-width: 1275px) {
    .flex-container{
        flex-wrap: wrap;
    }
    .message {

    }
}
