@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: white;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
body {
    background-color: hsl(345, 10%, 8%);
}
.whoops{
    display: flex;
    height:75vh;
    color:white;
    align-items: center;
    justify-content: center;
    opacity: .25;
    margin-top: -75px;
}
h1{
    font-weight: normal;
}
.activatedLink{
    opacity: 1.0 !important;
}